body {
    margin: 0;
    background: black;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

.promo-bar {
    background: #ef55b5;
    overflow: hidden;
    white-space: nowrap;
    padding: 6px 0;
}

.promo-track {
    display: inline-block;
    animation: scrollText 20s linear infinite;
}

.promo-track span {
    margin: 0 40px;
    font-size: 11px;
    color: white;
}

@keyframes scrollText {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding:0 16px;
    height: 70px;
    background: black;
}

.logo {
    justify-self:center;
}

.logo img {
    width: 120px;
    align-items: center;
}

.header-icons {
    justify-self: end;
    display: flex;
    gap: 14px;
}

.header > .icon-btn {
    justify-self: start;
}

.icon-btn {
    background: none;
    border: none;
    filter:invert(1);
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    justify-self: center;
}

.shop-link {
    position:absolute;
    right: 20px;
    bottom: 30px;
    color: white;
    font-weight: bold;
}

.products {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px 20px;
    padding: 60px 16px;
}

.product-card {
    text-align: center;
}

.product-card img {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    display: block;
}

.product-card h2 {
    font-size: 13px;
    font-weight: normal;
    margin: 10px 0 5px;
}

.product-card p {
    font-size: 11px;
}

.collection {
    position: relative;
}

.collection img {
    width: 100%;
}

.collection h2 {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    font-size: 32px;
    white-space: nowrap;
}

.collection-scroll {
    display: flex;
    overflow-x: auto;
    gap: 0;
    background: black;
}

.collection-scroll img {
    width: 55%;
    min-width: 55%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    display: block;
    margin-bottom: 60px;
}

.footer {
    background:#ef55b5;
    color: black;
    padding: 36px 16px;
}

.footer input {
    width: 86%;
    padding: 14px;
    border: 2px solid black;
    background: transparent;
    margin-bottom: 14px;
}

.footer button {
    background: black;
    color:#ef55b5;
    border: none;
    padding: 14px 24px;
    font-weight: bold;
}

.footer h3 {
    margin-top: 50px;
}

.footer a {
    display: block;
    color: black;
    text-decoration: none;
    margin: 22px 0;
}

.copyright {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 11px;
}


.product-detail {
    background: black;
    color: white;
    padding-bottom: 40px;
}

.product-img {
    width: 100%;
    display: block;
    aspect-ratio: 3 / 4;
    object-fit: cover;
}

.image-count {
    display: flex;
    justify-content: center;
    gap: 14px;
    font-size: 18px;
    margin: 18px 0 28px;
}

.product-info {
    padding: 0 18px;
}

.product-info h1 {
    font-size: 22px;
    font-weight: normal;
    margin: 0 0 24px;
}

.product-price {
    font-size: 18px;
    margin-bottom: 14px;
}

.info-row {
    border-top: 1px solid #777;
    padding: 22px 0;
    font-size: 18px;
}

.colors {
    border-top: 1px solid #777;
    padding: 22px 0;
}

.colors p {
    font-size: 18px;
    margin-bottom: 16px;
}

.color-dots {
    display: flex;
    gap: 12px;
}

.dot {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.yellow { background: #f7df3e}
.blue { background: #3b82f6}
.pink { background: #f472b6}
.white { background: #ffffff}

.add-to-cart-btn {
    width: 100%;
    background: #ef55b5;
    color: black;
    border: none;
    padding: 18px;
    font-size: 18px;
    margin-top: 10px;
}

.cart-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: none;
    z-index: 1000;
}

.cart-overlay.active {
    display: block;
}

.cart-panel {
    position: absolute;
    right: 0;
    top: 0;
    width: 85%;
    max-width: 390px;
    height: 100vh;
    background: black;
    color: white;
    padding: 18px 16px;
    display: flex;
    flex-direction: column;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.cart-header h2 {
    font-size: 20px;
    font-weight: normal;
    margin:0;
}

.close-cart {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
}

.cart-item {
    display: grid;
    grid-template-columns: 90px 1fr;
    gap: 18px;
    margin-top: 50px;
}

.cart-item img {
    width: 90px;
    height: 110px;
    object-fit: cover;
}

.cart-item-info h3{
    font-size: 15px;
    font-weight: normal;
    margin: 0 0 8px;
}

.cart-item-info p {
    font-size: 13px;
    color: #aaa;
    margin: 6px 0;
}

.quantity-control {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 150px;
    border: 1px solid #aaa;
    margin-top: 10px;
}

.quantity-control button,
.quantity-control span {
    background: transparent;
    color: white;
    border: none;
    text-align: center;
    padding: 10px;
}

.cart-bottom {
    margin-top: auto;
}

.cart-bottom a{
    color: white;
    font-size: 12px;
}

.checkout-btn {
    display: block;
    background:#e99bea;
    color: black !important;
    text-align: center;
    text-decoration: none;
    padding: 16px;
    margin-top: 16px;
}